@keyframes slidetop {
    0% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
      }
    50% {
        -webkit-transform: translateY(-25px);
                transform: translateY(-25px);
    }
    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
      }
}

.animation {
    animation-name: slidetop;
    animation-duration:4s;
    animation-iteration-count: infinite;
}

@keyframes slidedown {
    0% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
      }
    50% {
        -webkit-transform: translateY(25px);
                transform: translateY(25px);
    }
    100% {
        -webkit-transform: translateY(0px);
                transform: translateY(0px);
      }
}

.animateHero {
    animation-name: slidedown;
    animation-duration:4s;
    animation-iteration-count: infinite;
}
